<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

<style>
        table, th, td {
          border: 1px solid black;
        }
</style>

</head>

<div class="container">

<h1>ACP Brevet Times</h1>

<body>
        <table class="control_time_table">
                <tr>
              <th> Km </th>
              <th>Location</th>
              <th>Open</th>
              <th>Close</th>
                </tr>
             {% for item in items %}
              <tr class="control">
                <!-- Dist (km) -->
                <td> {{item.location}}</td>
                <!-- Location (optional) -->
                <td> {{ item.locationname}} </td>
                <!-- Open time (read only, set by JavaScript function -->
                <td> {{ item.open}} </td>
                <!-- Close time (read only, set by JavaScript function -->
                <td> {{ item.close}} </td>
              </tr>
              {% endfor %}
            </table>
</body>
</div>